<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge danger"><i class="fa fa-lightbulb-o"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"> <b>IDEA</b></h4>
                </div>
                <div class="timeline-body">
                    <p>Ogni progetto software nasce da un'<b>idea</b>, le scelte tecnologie, anche se alla base della riuscita di un progetto, sono solo un mero
                         strumento per realizzarla, viene da sé quindi che se l'idea risulta <b>vincente</b>, anche il <b>progetto</b> lo sarà.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge" style="background-color: crimson"><i class="fa fa-long-arrow-right"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>TO DO</b></h4>
                </div>
                <div class="timeline-body">
                    <p>L'analisi è il punto cardine di ogni Init ed  è importante effettuare una valutazione delle criticità prima della fase di sviluppo al fine di garantire che il <b>software</b> applicativo da sviluppare sia <b>affidabile, scalabile, robusto e soddisfi il cliente finale.</b>.</p>
                  </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-cogs"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>DOING</b></h4>
                </div>
                <div class="timeline-body">
                    <p>Negli sviluppi di successo la differenza la fanno sempre le persone e le regole che inerenti il processo di sviluppo.  <b>Un processo di sviluppo definisce Chi fa
                            Cosa, Quando, e Come</b>, allo scopo di conseguire un risultato  affidabili e sicuro. </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-check-square"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                        <h4 class="timeline-title"><b>DONE</b></h4>
                </div>
                <div class="timeline-body">
                    <p> Un processo di sviluppo del software è quindi un insieme di attività che costruiscono un prodotto software, 
                            si parte dall'idea, si innesca il processo di selezione delle regole che gestiscano al meglio il capitale umano e software. Il progetto di successo 
                        può dirsi veramente <b>DONE</b> non solo quando è concluso ma soprattutto quando è partito bene ed è finito al meglio!</p>
                </div>
            </div>
        </li>
    </ul>
</div>
