/*$base-theme:Bootstrap;
$skin-name:suite;
$swatch-name:Bootstrap;
$border-radius: 0;
$accent: #007bff;
$secondary: #fff4ef;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
//$body-bg: #5b5b5d;
$body-bg: #ffffff;        // background color
$body-color: #242e3e;     //* Label Input
$component-bg: #ffffff;
$component-color: #656567;
$card-cap-bg: #8cb2ef;    // Barra grafici/tabelle
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;


//** Text color for `<input>`s
$input-color: #3d3d3e; */

$base-theme:Bootstrap;
$skin-name:suite;
$border-radius: 0;
$accent: #0ea892;
$secondary: #086a5c;
$info: #d7fec7;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;
$body-bg: #e4e4e4;
$body-color: #323232;
$component-bg: #f2f2f2;
$component-color: #656565;
//$card-cap-bg: #ededed;
$card-cap-bg:#086a5c;
$card-cap-color: #fff;
$series-a: #25c55b;
$series-b: #5bc0de;
$series-c: #0275d8;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

$gray-800: #e2e2e3 !default;
$btn-border-radius-sm: 0;