$base-theme:Bootstrap;
$skin-name:urban2;
$swatch-name:Urban;
$border-radius: 0.25rem;
$accent: #007bff;
$secondary: #e4e7eb;
$info: #17a2b8;
$success: #5cb85c;
$warning: #ffbb5b;
$error: #e3470e;
$body-bg: #ffffff;
$body-color: #000000;
$component-bg: #fdfdfd;
$component-color: #1c3a4c;
$card-cap-bg: #ffffff;
$card-cap-color: #020202;
$series-a: #ff7943;
$series-b: #e84d0e;
$series-c: #40a9e3;
$series-d: #016a98;
$series-e: #7a8c95;
$series-f: #355261;
