<br>
<div>
    <p class="h2 text-center">ANALISI DELLA SICUREZZA E CERTIFICAZIONI</p>
    <br>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <div>
                        <div>
                            <span><b>N.Certificato:9</b>
                            </span><b>9150.A60</b></div>
                    </div>
                    <div>
                        <div>Emesso il&nbsp;01-03-2011</div>
                        <div>in corso di validita'</div>
                        <div>&nbsp;</div>
                        <div>
                            <div>dall'organismo Accreditato:
                            </div>
                            <div>
                                <a style="cursor:help;" title="Organismo Accreditato"><img src="assets/images/ico_org_acr.png"></a>
                            </div>
                            <div>
                                <a style="font-weight:bold;"
                                    href="/ppsearch/accredia_orgmask.jsp?ID_LINK=1739&amp;area=310&amp;PPSEARCH_ORG_SEARCH_MASK_ORG=0040">{{company_name | uppercase}}
                                </a>
                                <div><a target="_blank" href="http://www.imq.it/"
                                        title="Visita il sito web">www.{{company_name | lowercase}}.it/</a></div>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div>&nbsp;</div>
                    <div>
                        <div><b>{{company_name | uppercase}}</b></div>
                        <div>-&nbsp;-&nbsp;NO. 8, PANIZ ALLEY, NORTH VAFA ST., FERDOWS BLVD.2ND SADEGHIEH
                            SQ., TEHRAN</div>
                        <div>&nbsp;</div>
                        <div>Scopo:
                            Internet Service Distribution Provider (ISDP), Internet Data Center (IDC) Provider, Digital
                            subscriber line (DSL) Technology</div>
                        <div>&nbsp;</div>
                        <div>Norma:
                            UNI EN ISO 9001:2015</div>
                        <div>Schema di Accreditamento: SGQ</div>
                        <div>Settori:
                            <span><a alt="Settore accreditato: Tecnologia dell'informazione"
                                    title="Settore accreditato: Tecnologia dell'informazione"
                                    style="cursor:help;">33</a></span><a></a><span><a></a></span><a></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div>&nbsp;</div>
                        <div>Dati aggiornati dall'Organismo il 08/10/2019</div>
                        <div>&nbsp;</div>
                    </div>
                </td>
                <td>
                        <div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                        </div>
                    </td>
                <td>
                    <div>
                        <div>&nbsp;</div>
                        <div><b>Partita IVA:
                            00000000</b></div>
                        <div>&nbsp;</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</div>
