<div>
    <!-- <button class="btn btn-primary" (click)="open(content)">Graph</button>&nbsp; -->
    <a class="btn btn-primary" [routerLink]="" (click)="open(content)">Graph</a>&nbsp;
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Grafico a torta</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>
