
<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-12">
                <img src="assets/images/{{icon}}.png">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left" style="color: #0f0f10"><b>{{label}}</b></span>
        <a href="javascript:void(0)" (click)="showSlide(slide)" class="float-right card-inverse">
            <span ><i class="fa fa-sliders"></i></span>
        </a>
    </div>
</div>
<!--
<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-12">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left"><b>{{label}}</b></span>
        <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-sliders"></i></span>
        </a>
    </div>
</div>
-->
